a {
	color:#000;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
figure {
	margin:10px 0;
}
figure strong {
	display:block;
	padding:0 0 10px;
}
.sub-title {
	display:block;
	font-weight:700;
	padding:0 0 10px;
}