#nav {
	float:left;
	list-style:none;
	margin:0;
	padding:0 0 0 1px;
	font-size:15px;
	line-height:17px;
}
#nav a {
	text-decoration:none;
	color:#444;
	position:relative;
	float:left;
}
#nav li {
	padding:7px 19px 7px 21px;
	position:relative;
	float:left;
	background:url(images/separator.png) no-repeat 0 center;
}
#nav li:first-child {
	padding-left:0;
	background:none;
}
#nav .home a {
	background:url(images/sprite.png) no-repeat -208px 0;
	width:20px;
	height:17px;
	display:block;
	text-indent:-99em;
	cursor:pointer;
	overflow:hidden;
}
#nav .home a:focus {
	outline:black dotted thin;
}
#nav a:hover:before,
#nav li.active a:before {
	background:url(images/sprite.png) no-repeat -152px 0;
	width:9px;
	height:6px;
	overflow:hidden;
	text-indent:-99em;
	position:absolute;
	left:50%;
	margin:0 0 0 -4px;
	top:-15px;
	content:'';
}
@media only screen and (max-width: 959px){
	.btn-menu button, #nav .home a {
		background:#005767;
		background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTc2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjM2M3ZDhhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iODklIiBzdG9wLWNvbG9yPSIjMDE1NjY3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTc2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background:-moz-linear-gradient(top, #005767 0%, #3c7d8a 4%, #015667 89%, #005767 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#005767), color-stop(4%,#3c7d8a), color-stop(89%,#015667), color-stop(100%,#005767));
		background:-webkit-linear-gradient(top, #005767 0%,#3c7d8a 4%,#015667 89%,#005767 100%);
		background:-o-linear-gradient(top, #005767 0%,#3c7d8a 4%,#015667 89%,#005767 100%);
		background:-ms-linear-gradient(top, #005767 0%,#3c7d8a 4%,#015667 89%,#005767 100%);
		background:linear-gradient(to bottom, #005767 0%,#3c7d8a 4%,#015667 89%,#005767 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#005767', endColorstr='#005767',GradientType=0);
	}
	#nav .home {
		position:absolute;
		left:20px;
		top:-53px;
	}
	#nav .home span {
		border-radius:5px;
		float:left;
		padding:1px;
	}
	#nav .home a {
		font-size:15px;
		line-height:17px;
		color:#fff;
		text-decoration:none;
		width:30px;
		height:28px;
		cursor:pointer;
		border-radius:5px;
	}
	#nav .home a:after {
		display:block;
		background:url(images/btn-home-house.png) no-repeat;
		content:'';
		height:14px;
		width:18px;
		margin:-10px 0 0 6px;
	}
	.btn-menu, #nav .home span {
		background:#00656f;
		background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNjU2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjhiOTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background:-moz-linear-gradient(top, #00656f 0%, #4b8b95 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00656f), color-stop(100%,#4b8b95));
		background:-webkit-linear-gradient(top, #00656f 0%,#4b8b95 100%);
		background:-o-linear-gradient(top, #00656f 0%,#4b8b95 100%);
		background:-ms-linear-gradient(top, #00656f 0%,#4b8b95 100%);
		background:linear-gradient(to bottom, #00656f 0%,#4b8b95 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00656f', endColorstr='#4b8b95',GradientType=0);
	}
	.btn-menu button.active, #nav li.active.home a {
		background: #005968; /* Old browsers */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTk2OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iIzAwNGI1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzAwNDk1OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU3NjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #005968 0%, #004b59 43%, #004958 56%, #005767 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005968), color-stop(43%,#004b59), color-stop(56%,#004958), color-stop(100%,#005767)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #005968 0%,#004b59 43%,#004958 56%,#005767 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #005968 0%,#004b59 43%,#004958 56%,#005767 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #005968 0%,#004b59 43%,#004958 56%,#005767 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #005968 0%,#004b59 43%,#004958 56%,#005767 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005968', endColorstr='#005767',GradientType=0 );
		-webkit-box-shadow:inset 0 2px 4px 0 rgba(0,0,0,0.4);
		box-shadow:inset 0 2px 4px 0 rgba(0,0,0,0.4);
	}



}